.button {
  background-color: #000000;
  border-radius: 0.3rem;
  border: none;
  color: #ffffff;
  cursor: pointer;
  padding: 0.5rem 1rem;
  text-wrap: nowrap;
}

.button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.button:hover:not(:disabled) {
  background-color: #333333;
  transition: background-color 0.3s ease;
}
