.container {
  display: flex;
  gap: 0.6rem;
  width: 100%;
  max-width: 600px;
}

.formContainer {
  align-items: center;
  display: flex;
  gap: 0.6rem;
  justify-content: center;
  width: 100%;
  position: relative;
}
